<h1>Marvellous cocktails</h1>
<h4> You deserve a good one</h4>
<%= link_to "Add a cocktail", new_cocktail_path %> <% @cocktails.each do |cocktail| %>

<%= cocktail.name %>

<%= link_to "More Details", cocktail_path(cocktail) %> <% end %>
